<template>
  <require from="./style.css"></require>

  <h1>Target2016</h1>

  <button class="btn block" click.trigger="create()">Wettkampf erstellen</button>
  <button class="btn block light" click.trigger="load()">Wettkampf laden</button>

  <div if.bind="doCreate">
    <form role="form" submit.trigger="saveAs()" validate.bind="formInput.validation">

      <div class="form-group">
        <label class="control-label" for="title">Titel</label>
        <input type="text" class="form-control" id="title" value.bind="formInput.title" validate="title" />
      </div>

      <div class="form-group">
        <label class="control-label" for="type">Art</label>
        <select id="type" value.bind="formInput.competition" validate="competition">
          <option repeat.for="competition of competitions" value.bind="competition.id">${competition.title}</option>
        </select>
      </div>

      <button type="submit" >Speichern</button>
    </form>
  </div>
</template>
